@import url('https://fonts.googleapis.com/css?family=Bungee|Comfortaa');

body{
  font-family: 'Comfortaa', cursive;
  background-color: #f5f5f5;
  color: #616161;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

code {
    display: inline !important;
}
pre code {
    display: block !important;
}

.brand{
  font-family: 'Bungee', cursive;
}

.grayscale{
  filter: grayscale(1);
}

.link-shadow{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.siema-img{
  width: 100%;
}

.italics{
  font-family: italics;
}

.bloc-logo {
    position: relative;
    width: 130px;
    height: 49px;
}

.bloc-logo canvas,
.bloc-logo .logo-mask {
    display: block;
    width: 130px;
    height: 49px;
}

.bloc-logo .logo-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-size: 130px;
    background-image: url("../img/logo-mask.png");
    text-indent: -9999px;
}