@import url('https://fonts.googleapis.com/css?family=Bungee|Comfortaa');

html, body{
  max-width: 100%;
  overflow-x: hidden;
}

#particles-js {
  position:absolute;
  top: 100px;
  right:0;
  bottom:0;
  left:0;
  z-index:0; 
}

body{
  font-family: 'Comfortaa', cursive;
  background-color: #f5f5f5;
  color: #616161;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

code {
    display: inline !important;
}
pre code {
    display: block !important;
}

.brand{
  font-family: 'Bungee', cursive;
}

.grayscale{
  filter: grayscale(1);
}

.link-shadow{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.siema-img{
  width: 100%;
}

.italics{
  font-family: italics;
}

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.red{background: #e43;}