*{
  font-family: 'Share Tech Mono', monospace;
}

blockquote {
  font-style: italic
}

h1{
  color: #d70206;
  font-family: 'Share Tech Mono', monospace;
}

h2, h3, h4, h5, h6{
  font-family: 'Share Tech Mono', monospace;
}