@import url('https://fonts.googleapis.com/css?family=Lobster|Questrial');

body{
  font-family: 'Questrial', sans-serif;
  background-color: #f5f5f5;
  color: #616161;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

norm {
  font-family: 'Questrial', sans-serif;
}

main {
  flex: 1 0 auto;
}

code {
    display: inline !important;
}
pre code {
    display: block !important;
}

.brand{
  font-family: 'Lobster', cursive;
}

.grayscale{
  filter: grayscale(1);
}

.link-shadow{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.siema-img{
  width: 100%;
}

.italics{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.tabs .tab a.active {
  color: #009688;
}

.tabs .tab a:hover {
  color: #009688;
}

.tabs .tab a {
  color: #009688;
}